<!--Start>
<nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top">
    <a href="http://localhost:3000" class="navbar-brand">Animal Sound Displayer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="http://localhost:3000/bat">Bat</a>
            </li>			
            <li class="nav-item">
                <a href="http://localhost:3000/bear">Bear</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/bee">Bee</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/cat">Cat</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/bee">Bee</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/cow">Cow</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/crow">Crow</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/dog">Dog</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/duck">Duck</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/whale">Whale</a>
            </li>
        </ul>
    </div>
</nav>
<-->