<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs%>
</head>
<body>
    <%# include ../partials/bootstrapNav.ejs %>
    <%# include ../partials/cssNav.ejs %>
    <div class="jumbotron">
        <a href="http://localhost:3000">Home</a>
        <a href="http://localhost:3000/bat">Bat</a>
        <a href="http://localhost:3000/bear">Bear</a>
        <a href="http://localhost:3000/bee">Bee</a>
        <a href="http://localhost:3000/cat">Cat</a>
        <a href="http://localhost:3000/cow">Cow</a>
        <a href="http://localhost:3000/crow">Crow</a>
        <a href="http://localhost:3000/dog">Dog</a>
        <a href="http://localhost:3000/duck">Duck</a>
        <a href="http://localhost:3000/pig">Pig</a>
        <a href="http://localhost:3000/whale">Whale</a>

        <p><span> <%= text %> </span><span>  <%= sound %> </span></p>
    </div>
</body>
</html>

