<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs%>
</head>
<body>
    <%# include ../partials/bootstrapNav.ejs %>
    <%# include ../partials/cssNav.ejs %>
    <div>
        <ul>
            <li><a href="http://localhost:3000">Home</a></li>
            <li><a href="http://localhost:3000/bat">Bat</a></li>
            <li><a href="http://localhost:3000/bear">Bear</a> </li>
            <li><a href="http://localhost:3000/bee">Bee</a></li>
            <li><a href="http://localhost:3000/cat">Cat</a></li>
            <li><a href="http://localhost:3000/cow">Cow</a></li>
            <li><a href="http://localhost:3000/crow">Crow</a></li>
            <li><a href="http://localhost:3000/dog">Dog</a></li>
            <li><a href="http://localhost:3000/duck">Duck</a></li>
            <li><a href="http://localhost:3000/pig">Pig</a></li>
            <li><a href="http://localhost:3000/whale">Whale</a></li>
        </ul>
        <p><span> <%= text %> </span><span>  <%= sound %> </span></p>
    </div>
</body>
</html>

